<i class="fa-solid fa-arrow-left" (click)="goBack()">Back to Project Page</i>
<div class="surveyTable">
  <p>Quantity Survey</p>
  <div class="joinTable">
    <table class="resourceTable">
      <thead>
        <th>Resource Code</th>
        <th>Resource Name</th>
      </thead>
      <tbody>
        <tr
          class="formula-info"
          *ngFor="let resource of resourceList; let index = index"
        >
          <td>{{ resource.resourceID }}</td>
          <td>{{ resource.resourceName }}</td>
        </tr>
      </tbody>
    </table>


    <table
      class="formulaTable"
      *ngFor="let formula of formulaMap | keyvalue; let index = index"
    >
      <thead>
        <th>{{ formula.key }}</th>
      </thead>
      <tbody>
        <tr class="formularow" *ngFor="let i of sortByResourceId($any(formula).value); let index = index">
          <td (dblclick)="handleOpenEditFormulaBox(i.formulaId, i.resourceId)">
            <span *ngIf="toggleFormulsinput !== ''+i.formulaId">{{ i.fieldValue }}</span>
            <span *ngIf="toggleFormulsinput === ''+i.formulaId">
              <input
                id="input id_{{ i.formulaId }}"
                type="text"
                placeholder="{{ i.fieldValue}}"
                [(ngModel)]= formulaValueInput
                (keyup.enter)="submitFieldValue(i.formulaId, i)"
              />
              </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a [routerLink]="['/project-list/template', currentProjectName]"
  >Edit Quantity Survey Template</a
>
