* {
  box-sizing: content-box;
}
.fa-arrow-left,a{
    margin-left: 20px;
}
.surveyTable {
  border: 1px solid lightgray;
  margin-left: 20px;
   margin-right: 20px;
}
.surveyTable p {
  background-color: gray;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
.joinTable {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.resourceTable,
.formulaTable {
  width: 100%;
  border-collapse: collapse;
}

.resourceTable thead,
.formulaTable thead {
  background-color: lightgray;
  font-weight: 700;
}
.resourceTable tbody,
.formulaTable tbody {
  overflow: scroll;
}
.resourceTable tr {
  height: 25px;
}

.resourceTable tbody tr,
.formulaTable tbody tr{
  border-bottom: 1px solid lightgray;

}
.formulaTable tbody tr{
  text-align: center;
}
.resourceTable tbody tr td span,
.formulaTable tbody tr td span{
  padding-left: 5px;
}
.formulaTable .formularow{
  overflow: hidden;
  /* border: 1px solid lightgray; */
  line-height: 24px !important
}
.formulaTable tbody tr td:after {
  content: "\00A0";
}
.formulaTable tbody tr td,
.formulaTable tbody tr td span {
  height: 24px;
  margin: 0;
  padding: 0;
}
