<form class="loginForm" [formGroup]="loginForm">
  <h1>Welcome Back!</h1>
  <div class="username">
    <label for="username">Username: </label>
    <input
      id="username"
      type="text"
      placeholder="username"
      formControlName="username"
    />
  </div>

  <div class="passwords">
    <label for="passwords">Passwords: </label>
    <span>
      <input
        id="passwords"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="passwords"
        formControlName="passwords"
      />
      <span (click)="togglePasswordVisibility()">
        <i *ngIf="!showPassword" class="fa-regular fa-eye"></i>
        <i *ngIf="showPassword" class="fa-regular fa-eye-slash"></i>
      </span>
    </span>
  </div>

  <button type="submit" (click)="loginForm.valid? handleSubmit() : showErrorMsg('Can\'t log you in. Required Fields Missing')">Log In</button>
</form>
<span [ngStyle]="{color:'red'}">{{ ErrorMsg}}</span>
<span>
  Create account?
  <button type="submit" (click)="navigateToSignUp()">Sign Up</button>
</span>
