* {
  box-sizing: border-box;
}

.resourceDetailTable {
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  overflow-y: scroll;
}
.singleDetailTable {
  border-collapse: collapse;
  width: 200px;
}
.singleDetailTable tbody {
  overflow-y: scroll;
}
.singleDetailTable thead th {
  background-color: lightgrey;
  border: 1px solid grey;
}

.singleDetailTable tbody tr {
  width: 100%;
  height: 5px;
}
.addSingleDetailTable thead th div {
  display: flex;
  flex-direction: column;
}

.addSingleDetailTable thead th input {
  display: inline;
  border: 1px solid orange;
  margin: 5px;
}
.addSingleDetailTable thead th div .submitbtn {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.detailInput {
  display: inline;
}
.fa-circle-check,
.fa-circle-xmark {
  display: inline;
  font: 16px;
  color: orange;
  margin: 2px;
  background-color: unset;
  padding: unset;
  border-radius: unset;
  text-align: center;
}
.singleDetailTable tbody tr td {
  text-align: left;
  padding: 5px;
  height: 5px;
}
