#resource {
  margin: 20px;
  width: inherit;
  border: 1px solid grey;
}
/* CSS for Resource Table Header */
.resourceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
  padding: 5px;
}
.searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchbox input {
   border-color: orange;
  margin-right: 5px;
  height: 20px;
}
.searchbox input:focus {
  text-indent: 2px;
  border-color: orange; /* New border color when focused */
  background-color: lightgoldenrodyellow; /* New background color when focused */
  outline: none;
}

.resourceHeader .fa-plus,
.resourceHeader .fa-magnifying-glass {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 3px;

  text-align: center;
}
.resourceHeader .fa-plus:active {
  background-color: rgb(216, 141, 1);
}

/* CSS for editResourceTable Options List */
.editResourceTable {
  position: relative;
}

.editOptions {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 1px;
  background-color: white;
  width: 120px;
  transform: translate(-120px);
  padding: 5px;
  box-shadow: 2px 2px lightgray;
}
.editOptions span:hover {
  background-color: orange;
  color: white;
}

.editOptions span i {
  margin-right: 5px;
}
/* CSS for joinedTable */
.joinedTable {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

.joinedTable app-resourcelist {
  flex: 1;
}

/* .joinedTable app-resource-detail{
  flex:1.1
}  */
