* {
  box-sizing: border-box;
}

.resourceList {
  width: 100%;
  height: 600px;
  border: 1px solid gray;
  overflow-y: scroll;
}
.resourceHeader {
  top:0;
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: gray;
  padding: 5px;
}

.resourceHeader .headerTitle {
  flex-grow: 1;
  text-align: center;
}

.resourceHeader .fa-solid {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  margin: 3px;
}
 .selectAllBox{
  position: absolute;

  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 0 0 1px gray;
  width:max-content;
  transform:translate(-100%,-60%)
}

.selectAllBox span {
  padding: 5px;
}
.resourceTable {
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid grey; */
}
.resourceTable tbody {
  top: 0;
  position: sticky;
}
/* .resourceTable thead th {
   top:0;
  position:sticky; 
} */

.resourceTable thead th {
  background-color: lightgrey;
  border: 1px solid grey;
}

.resourceTable tbody tr {
  width: 100%;
  height: 5px;
}

.resourceTable tbody tr td {
  text-align: left;
  padding: 5px;
  height: 5px;
}

input {
  margin: 2px;
}
