<section class="header">
    <div class="logo" [routerLink]="['resource-list']">
        <img src="../../../assets/images/logo.png" alt="logo" [ngStyle]="{'width.px':35, 'height.px':35,'border-radius.px':8}">
        <p class="title">Resource Management</p>
    </div>
    <div class="headerInfo">
    <div class="projectName">{{currentProject}}</div>
    <div class="user" (click)="toggleProfile()">
        <i class="fa-regular fa-user fa-xl"></i>
        <span>{{user.username}}</span>
        <app-profile *ngIf="isProfileShowed" [user]="user"></app-profile>
    </div>
    <div class="help">
        <i class="fa-solid fa-info fa-xl"></i>
    </div>
    </div>

</section>
