<div class="quantitySurveyTable">
  <p class="title">Quantity Survey Fields</p>
  <div class="row" *ngFor="let item of formulaList.controls; let index = index">
    <ng-container [formGroup]="item">
      <div class="field">
        <label name="field">Field*</label>
        <input id="field" type="text" formControlName="fieldName" />
      </div>
      <div class="field">
        <label name="type">Type*</label>
        <select
          formControlName="fieldType"
        >
          <option value="">Select Field Type</option>
          <option *ngFor="let type of enumType" value="{{ type }}">
            {{ type | lowercase }}
          </option>
        </select>
      </div>

      <div
        class="field"
        [style.visibility]="
          item.value.fieldType === 'FORMULA' ? 'visible' : 'hidden'
        "
      >
        <label name="formula">Formula</label>
         <input id="field" type="text" formControlName="fieldValue" />
      </div>

      <div class="field">
        <i class="fa-solid fa-trash-can" (click)="deleteFormula(index)"></i>
      </div>
    </ng-container>
  </div>
</div>

<button (click)="addFormula()">Add Field</button>
