* {
  box-sizing: border-box;
}

.resourceTable {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid grey; */
}
.resourceTable tbody {
  overflow-y: scroll;
}

.resourceTable thead th {
  background-color: lightgrey;
  border: 1px solid grey;
}

.resourceTable tbody tr {
  width: 100%;
  height: 5px;
}

.resourceTable tbody tr input {
  width: 80%;
  border: 1px solid orange;
  margin-left: 5px;
}

.fa-circle-check,
.fa-circle-xmark {
  font: 16px;
  color: orange;
  display: inline;
  margin: 2px;
}
.resourceTable tbody tr td {
  text-align: left;
  padding: 5px;
  height: 5px;
}
.resource-info {
  position: relative;
}
.resource-info:hover {
    background-color: lightgoldenrodyellow;
}
.resource-info:hover .resource-other-info {
  z-index:2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  background-color: lightgoldenrodyellow;
  width:max-content;
  padding:5px;
}
.resource-other-info {
  display: none;
  

}
