<table class="resourceTable">
  <thead>
    <th>Resource Code</th>
    <th>Resource Name</th>
  </thead>
  <tbody>
    <tr
      class="resource-info"
      *ngFor="let resource of resourceList; let index = index"
      (mouseenter)="showDetailInfo(resource.resourceID, $event)"
      (mouseleave)="hideDetailInfo()"
      [ngStyle]="{'position': 'relative'}"
    >
      <td>{{ resource.resourceID }}</td>
      <td>{{ resource.resourceName }}</td>
      <div id="{{ index }}" class="resource-other-info" *ngIf="isHoverIn === resource.resourceID" [ngStyle]="{'position': 'fixed', 'left.px': boxLeft, 'top.px': boxTop}">
        <p>id: {{ resource.resourceID }}</p>
        <p>name: {{ resource.resourceName }}</p>
        <p>created_date: {{ resource.created_date | date : "shortDate" }}</p>
        <p>
          last_modified:
          {{ resource.latest_modified_date | date : "shortDate" }}
        </p>
        <p>last_modifyed_by: {{ resource.latest_modified_by }}</p>
      </div>
    </tr>
    <tr *ngIf="toggleNewResourceInput" [formGroup]="resourceForm">
      <td>
        <input
          class="codeinput"
          type="number"
          placeholder="Resource' code"
          formControlName="resourceID"
        />
      </td>
      <td>
        <i class="fa-solid fa-circle-check" (click)="submitInput()"></i
        ><i class="fa-solid fa-circle-xmark" (click)="cancelInput()"></i
        ><input
          class="nameinput"
          type="text"
          placeholder="Resource's name"
          formControlName="resourceName"
        />
      </td>
    </tr>
  </tbody>
</table>
