:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.username,
.passwords,
.confirmed {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.fullname .firstname,
.fullname .lastname {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.username,
.passwords span,
button {
  width: max-content;
}

.username label,
.passwords label {
  margin: 5px;
}
input {
    height:36px;
  font-size: 16px;
  border-radius: 5px;
  text-indent: 2px;
}

input:focus {
  border-color: orange; /* New border color when focused */
  background-color: lightgoldenrodyellow; /* New background color when focused */
  outline: none;
}

.passwords button, .confirmed button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


