<section class="navbarSection">
  <i
    class="fa-solid fa-arrow-left"
    *ngIf="toggleMenu === true"
    (click)="toggleMenuClosed()"
  ></i>
  <i
    class="fa-solid fa-arrow-right"
    data-fa-transform="down-100"
    *ngIf="toggleMenu === false"
    (click)="toggleMenuOpen()"
  ></i>
  <nav class="nav-bar" *ngIf="toggleMenu === true">
    <a [routerLink]="['resource-list']" (click)="toggleMenuClosed()">Resource</a>
    <a [routerLink]="['project-list']" (click)="toggleMenuClosed()">Projects</a>
    <!-- <a [routerLink]="['project-list/joined-table',currentProject.projectId,'formula']" >Formular</a> -->
  </nav>
</section>
