/* app-navbar{
    height:100%;
} */

#root{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}

#root #main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height:inherit;
}

#container {
    width:100%
}




