 * {
  box-sizing: border-box;
}
.scopeFieldSection {
   border: 1px solid lightgray;
  height: 500px;
  /* width: 645px; */
  padding: 0px 10px;
}
.scopeFieldTable {
  border-collapse: collapse;
  width:200px;
}

.scopeFieldTable caption {
  font-weight: 700;
  padding:10px;
  background-color: darkgrey;
}
.scopeFieldTable tbody {
  overflow-y: scroll;
}

.scopeFieldTable tbody tr {
  width: 100%;
  height: 5px;
}

.scopeFieldTable tbody tr td {
  text-align: left;
  padding: 5px;
  height: 5px;
} 

.odd {
  background-color: lightgray;
}