<div class="projectList">
<header class="projectHeader">
    <p class="headerTitle">Project</p>
    <i class="fa-solid fa-trash-can"></i>
</header>
<table class="projectTable">
  <thead>
    <th>Resource Code</th>
    <th>Resource Name</th>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let resource of resourceList; let index = index">
      <td><input type="checkbox" id={{resource.id}} value={{resource.id}}>{{ resource.id }}</td>
      <td>{{ resource.resource_name }}</td>
    </tr> -->
  </tbody>
</table>
</div>

