<div class="projectPage">
  <div class="dropdown">
    <p class="currentSelection">{{ currentProject?.projectName }}</p>
    <button class="dropbtn" (click)="toggleDropdown()" *ngIf="!isDropdownOpend">
      <i class="fa-solid fa-caret-down"></i>
    </button>
    <button class="dropbtn" *ngIf="isDropdownOpend" (click)="toggleDropdown()">
      <i class="fa-solid fa-caret-up"></i>
    </button>
    <button class="dropbtn" (click)="toggleCretedProjectWindow()">
      <i class="fa-solid fa-plus"></i>
    </button>
    <div class="dropdown-content" *ngIf="isDropdownOpend">
      <p *ngIf="projectList.length === 0">
        You havn't created any project yet!
      </p>
      <p *ngFor="let name of nameList" (click)="selectProject(name)">
        {{ name }}
      </p>
    </div>

    <div class="createproject-content" *ngIf="isCreatedProjectWindowOpend">
      <label name="projectName">Project Name:</label>
      <input id="projectName" type="text" [(ngModel)]="createdProjectName" />
      <button type="submit" (click)="createProject()">Create</button>
      <p>{{ createdProjectErr }}</p>
    </div>
  </div>

  <router-outlet></router-outlet>
  <p *ngIf="projectList.length === 0">
    You haven't created any project. Please create one!
  </p>
</div>
